body {
    background-color:orchid;
    text-align: center;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif
  }
h1 {
    font-weight: 900;
    font-size: 3rem;
    color:honeydew;
}
.mydiv {
    margin: auto;
}
